/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-bm-block-split-panel {

	.split-panel__image {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.components-placeholder {
		height: 100%;
	}
}
